# Игнорировать ВСЁ в корне проекта
/*
!/.gitignore
!/Assets/

# Разрешить только нужные папки внутри Assets
/Assets/*
!/Assets/ByFit Custom nodes/
!/Assets/ByFit Custom nodes/**/*

# Игнорировать стандартные файлы Unity (даже если они попадут в Assets)
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Pp]roject[Ss]ettings/
*.csproj
*.sln
*.unitypackage
uNode.Generated/
uNode.Generated.meta
Project.meta
Тестовая сцена.unity
Тестовая сцена.unity.meta